@model IEnumerable<u21589276_HW03.Models.FileModel>

@{
    ViewBag.Title = "Files";
}

<h2>Files</h2>

<p>...Media</p>

<table class="table">
    <tr style="background-color:black; color:white;">
        <th>
            @Html.DisplayNameFor(model => model.FileName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DownloadOption)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DeleteOption)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.FileName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DownloadOption)
            @Html.ActionLink("Download", "Download", new { /* id=item.PrimaryKey */ })
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DeleteOption)
            @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
        </td>
    </tr>
}

</table>
